/*
 * main colorscheme
 * #b278ba
 * #7880ba
 */
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Oswald:wght@300;400&display=swap');
body{
    margin: 0%;
    background-color: #9178ba ;
}
.title{
    font-family: 'Luxurious Script', cursive;
}
