/*
 * main colorscheme
 */
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Oswald:wght@300;400&display=swap');
body{
    background-color: #ADADAD;
    border: 15px 15px 10px 10px;
}
.title{
    font-family: 'Luxurious Script', cursive;
    padding-left: 15px;
    margin-top: 0%;
    margin-bottom: 0%;
}
.headerbtn{
    font-family: 'Oswald', sans-serif;
    margin-top: 0%;
    font-size: 20px;
    margin-bottom: 0%;
    padding-left: 3vw;
}
.fishico{
    width:50px;
    height:50px;
}
.topbar{
    float: flex;
    text-align: center;
    align-items: center;
    top: 50%;
}
.leftbar{
    display: flex;
    float: left;  
    align-items: center;
    margin-top: 0px;
}
.rightbar{
    float: right;
    display: flex;
    margin-bottom: 0%;
}
.bigtext{
    font-size: 13vw;
    text-align: center;
}
.maintext{
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
}
.smalltext{
    font-family: 'Oswald', sans-serif;
    font-size: 2vw;
}
.mediumtext{
    font-family: 'Oswald', sans-serif;
    font-size: 4vw;
}

@media (max-width: 600px){
    .maintext{
        font-size: 7vw;
    }
    .bigtext{ 
        font-size: 16vw;
    }
    .mediumtext{
        font-size: 8vw;
    }
}
