<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link class="stylesheet" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&effect=anaglyph">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- the top part of the webside -->
    <div class="topbar">
        <div class="leftbar">
            <img src="{{ url_for('static', filename='fish.svg')}}" class="fishico">
            <h1 class="title">sea bass</h1>
            
            <!--<span class="material-icons">
            menu
            </span>
            -->
        </div>
        <div class="rightbar">
            <p class="homebtn">Home</p>
        </div>
    </div>
    <br><br><br>
    <!-- the last part of the webside -->
    <div class="maincontent">
        <div class="bigtext font-effect-anaglyph">This is my webside</div>
    </div>
    <div class="maintext">but really there is nothing here to look at.</div>
    <!-- last navbar -->

</body>
</html>
