<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    {% include 'import.html' %}
</head>
<body>
    {% include 'header.html'%} 
    {% for i in range(0,longest)%}
    <!--
        <img src="{{ url_for('static', filename='fish.svg')}}"  class="fishico">
    <br>
    <a href="{{Projecturl[i]}}" class="maintext">{{Projecturl[i]}}</a>
    <br>
    -->
    {%endfor%}
        <div class="maintext">No stuff yet! </div>
    {% include 'underbar.html' %}
</body>
</html>
