<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link class="stylesheet" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&effect=anaglyph">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='fish.svg')}}">
</head>
<body>
    {% include 'header.html'%} 
    {% for i in range(0,longest)%}
    <img src="{{ url_for('static', filename='fish.svg')}}"  class="fishico">
    <br>
    <a href="{{Projecturl[i]}}">{{Projecturl[i]}}</a>
    <br>
    {%endfor%}
    {% include 'underbar.html' %}
</body>
</html>
